/* ---------- QUERIES ---------- */

@media (max-width: 544px) {
  .contact-text {
    padding: 4rem 1.6rem 0rem 1.6rem;
  }

  .pattern {
    bottom: -400px;
  }
}

/* ---------- QUERIES ---------- */

@media (max-width: 544px) {
  header {
    visibility: hidden;
  }

  .header-mobile {
    visibility: visible;
  }

  main {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    padding: 1.2rem;
  }

  .heading {
    width: 100%;
    justify-content: space-between;
  }

  .heading-left {
    width: 70%;
  }

  .heading-right {
    display: none;
    width: 30%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .available {
    font-size: 0.8rem;
    gap: 0.4rem;
    text-align: center;
  }

  .heading-right .btn {
    height: 36px;
    width: 36px;
    content: "";
  }
}
