:root {
  /* COLORS */

  --white-100: rgb(255, 255, 255);
  --white-97: rgb(247, 247, 247);
  --white-90: rgb(230, 230, 230);
  --white-80: rgb(204, 204, 204);

  --white-100-rgb: 255, 255, 255;
  --white-97-rgb: 247, 247, 247;
  --white-90-rgb: 230, 230, 230;
  --white-80-rgb: 204, 204, 204;

  --green-98: rgb(245, 255, 249);
  --green-45: rgb(0, 230, 99);
  --green-35: rgb(0, 179, 77);

  --orange-98: rgb(255, 253, 245);
  --orange-50: rgb(255, 183, 0);

  --blue-98: rgb(245, 253, 255);
  --blue-50: rgb(0, 208, 255);

  --purple-98: rgb(251, 245, 255);
  --purple-65: rgb(190, 77, 255);

  --red-98: rgb(255, 245, 247);
  --red-50: rgb(255, 0, 76);

  --black-30: rgb(77, 77, 77);
  --black-0: rgb(0, 0, 0);

  --black-30-rgb: 77, 77, 77;
  --black-0-rgb: 0, 0, 0;
}

/* ---------- GENERAL ---------- */

.hidden {
  display: none !important;
}

.span-helper-1 {
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
}

.span-helper-2 {
  font-weight: 300;
}

/* ------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--white-97);
  overflow-x: hidden;
}

header {
  width: 24%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: none; */
}

.header-mobile {
  display: flex;
  flex-direction: column;

  position: fixed;
  width: 100%;

  z-index: 9999;

  visibility: hidden;
}

.mhtoverlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: -1;
  backdrop-filter: blur(5px); /* blur over header */
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem 0;

  transition: 0.4s all;
}

/* Menu Button */
.menu-btn {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.menu-btn .bar {
  height: 2px;
  background-color: black;
  border-radius: 20px;
  transition: all 0.25s ease-in-out;
  width: 100%;
  transform-origin: center;
}

.menu-btn.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.menu-btn.active .bar:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.nav-menu-and-accounts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  height: 100%;
  /* position: relative; */
  background-color: var(--white-100);
  padding: 1.2rem;
  border-radius: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.4rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

nav::-webkit-scrollbar {
  display: none; /* Chrome/ Safar */
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile .my-pic {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .name-and-tagline {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.profile .name {
  font-size: 1.05rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--black-0);
}

.profile .tagline {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--black-30);
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.nav-menu .menu-item {
  height: 44px;
  width: 100%;
  text-decoration: none;
  color: var(--black-30);
  background-color: var(--white-100);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 4px 12px;
  border-radius: 8px;
  position: relative;
  transition: all 0.25s ease;
}

.arrow-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  justify-self: flex-end;
}

.arrow-right {
  width: 1rem;
  height: 1rem;
}

.menu-item .nav-menu .menu-item:hover {
  background-color: var(--white-97);
}

/* Windows 11 navigation indicator */
.nav-menu .menu-item.nav-item-active {
  background-color: var(--white-97);
  font-weight: 600;
  color: var(--black-0);
}

.nav-menu .menu-item.nav-item-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  width: 4px;
  background: var(--black-0);
  border-radius: 100px;
  transition: top 0.2s, bottom 0.2s;
}

.nav-menu .menu-item .nav-menu-icon {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  box-shadow: 0 0 0 0.5px var(--white-90);
  margin: -1.2rem 0;
}

.h-divider {
  width: 100%;
  box-shadow: 0 0 0 0.5px var(--white-90);
}

.v-divider {
  box-shadow: 0 0 0 0.5px var(--white-90);
  height: 1fr;
  background-color: var(--white-90);
}

.accounts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.accounts .account {
  height: 40px;
  width: 100%;
  text-decoration: none;
  color: var(--black-30);
  background-color: var(--white-100);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.accounts .account .social-icon {
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accounts .account:hover {
  background-color: var(--white-97);
}

/* ---------- MAIN CONTENT AREA ---------- */

main {
  position: relative;
  top: 0;
  left: 24%;
  width: 76%;
  padding: 2rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

/* INTRO WRAPPER */
.intro-cont-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/* global for all wrappers */
.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-left {
}

.heading-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.heading-right .available {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.green-signal {
  width: 5px;
  height: 5px;
  background-color: var(--green-35);
  border-radius: 100%;
}

/* --- Button class --- */
.btn {
  box-shadow: 0 0 0 2px var(--black-0);
  background: var(--black-0);
  color: var(--white-100);
  padding: 6px 20px;
  height: 36px;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.25s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--white-100);
  transition: all 0.25s ease-in-out;
  z-index: -1;
}

.btn:hover {
  background-color: var(--white-100);
  color: var(--black-0);
  z-index: 1;
}

.btn:hover::after {
  width: 100%;
}

/* --- */

.intro-cont-wrapper p {
  width: 100%;
  font-size: 1.12rem;
  color: var(--black-30);
  line-height: 1.4;
}

.core-skill-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.skill-card {
  height: 16rem;
  width: 33%;
  background-color: var(--white-100);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.big-icon {
  background: radial-gradient(var(--green-98), var(--white-100));
  height: 250px;
  width: 250px;
  border-radius: 100%;
  position: absolute;
  top: -2.4rem;
  left: -2.4rem;

  transition: all 0.4s ease-in-out;
}

.big-icon-2 {
  background: radial-gradient(var(--blue-98), var(--white-100));
}

.big-icon-3 {
  background: radial-gradient(var(--purple-98), var(--white-100));
}

.big-icon-transformed {
  transform: translate(-25%, -25%) scale(0.5);
  position: absolute;
}

.big-icon .skill-icon img {
  height: 7.2rem;
  width: 7.2rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.ph-caret-up {
  position: absolute;
  bottom: 0px;
  right: 4px;
  font-size: 4rem;
  color: var(--black-30);
  opacity: 0.05;
  transition: all 0.4s;
}

.text-card {
  position: fixed;
  top: 164px;
  padding: 1.2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  transition: all 0.4s ease-in-out;
}

.text-card-heading {
  font-size: 1.3rem;
  color: var(--green-45);
  transition: all 0.4s ease-in-out;
  max-width: 160px;
}

.text-card-heading-2 {
  color: var(--blue-50);
}

.text-card-heading-3 {
  color: var(--purple-65);
}

.text-card .text-card-para {
  font-size: 0.95rem;
  color: var(--black-30);
  transition: all 0.4s ease-in-out;
}

.move-up {
  transform: translateY(-57%);
}

/* ---------- ABOUT SECTION ---------- */

.about-cont-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.about-details-container {
  width: 100%;
  background-color: var(--white-100);
  padding: 1.2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.academic-and-non-formal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.academic-education {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dot-and-record {
  display: flex;
  align-items: first baseline;
  gap: 0.8rem;
}

.dot-symbol {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  height: 1fr;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: var(--black-0);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-2.9px);
}

.record {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: 1fr;
}

.tenure {
  font-size: 0.9rem;
  color: var(--black-30);
}

.achievement-icon {
  height: 1.8rem;
  width: 1.8rem;
}

.achievement-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-0);
}

.institute {
  font-size: 0.9rem;
  color: var(--black-30);
}

.non-formal-education {
  width: 50%;
  padding-left: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-and-certificates {
  width: 100%;
  display: flex;
  padding-top: 1.2rem;
}

.experience {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.certificates {
  width: 50%;
  padding-left: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --- Link 1 --- */
.link-1 {
  width: fit-content;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--black-0);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}

.link-1:hover {
  color: var(--green-45);
  gap: 8px;
}

.link-arrow {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

/* --- */

.more-about-link {
  align-self: flex-end;
}

/* ---------- STACK SECTION ---------- */

.stack-cont-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.stack-container-box {
  width: 100%;
  background-color: var(--white-100);
  border-radius: 12px;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.full-stack-link {
  align-self: flex-end;
}

.stack-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: start;
}

.stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.stack-logo {
  height: 112px;
  width: 112px;
  background-color: var(--white-97);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.stack-item img {
  height: 56px;
  width: 56px;
  object-fit: contain;
}

/* PROJECTS WRAPPER */
.projects-cont-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.projects-container {
  width: 100%;
  background-color: var(--white-100);
  border-radius: 12px;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.projects {
  display: flex;
  gap: 2rem;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 50%;
  height: 100%;

  cursor: pointer;
}

.project h4 a {
  text-decoration: none;
  color: var(--black-0);
}

.project-image-cont {
  width: 100%;
  height: 16rem;
  background-color: var(--white-97);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  position: relative;
}

.project-1 .project-image-cont {
  background-color: #faf2eb;
}

.project-2 .project-image-cont {
  background-color: #ccd7fa;
}

.project-image-cont img {
  max-width: 84%;
  max-height: 84%;
  object-fit: contain;
  transition: all 0.4s;
}

.view-project-overlay {
  background: rgba(var(--black-0-rgb), 0.25);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  z-index: 1008;

  text-decoration: none;

  visibility: hidden;
}

.eye-icon {
  height: 48px;
  width: 48px;
  background-color: var(--black-0);
  border-radius: 100%;

  transition: all 0.25s;
  transform: scale(0);

  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-icon img {
  height: 24px;
  width: 24px;
}

.view-project-overlay .view-project-text {
  color: var(--white-100);
  transform: scale(0);
  transition: all 0.25s;
}

.projects-container .btn {
  width: fit-content;
  align-self: center;
}

/* CONTACT WRAPPER */
.contact-cont-wrapper {
  width: 100%;
}

.contact-container {
  width: 100%;
  background-color: var(--white-100);
  border-radius: 12px;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: relative;

  overflow: hidden;

  perspective: 1000px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contact-text {
  width: 100%;
  padding: 4rem 8rem 0rem 8rem;
  text-align: center;
  backdrop-filter: blur(0px);
}

.more-projects-link {
  align-self: flex-end;
}

/* --- */

.pattern {
  position: absolute;
  top: -200px;

  opacity: 0.1;
  z-index: -1;

  transform: rotate3d(1, 0, 0, 75deg);
}

.hlines {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hline {
  width: 100%;
  height: 1.2px;
  background: linear-gradient(
    to right,
    var(--black-30),
    var(--black-0),
    var(--black-30)
  );
}

.vlines {
  display: flex;
  gap: 2rem;
}

.vline {
  width: 1.2px;
  height: 700px;
  background: linear-gradient(to top, var(--black-30), var(--white-97));
}
